@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  /* Custom Color System for Civic Excellence Brand */
  --color-surface-dim: #d8dadc;
  --color-inverse-primary: #bcc7de;
  --color-inverse-on-surface: #eff1f3;
  --color-on-primary: #ffffff;
  --color-primary-base: #091426;
  --color-outline-variant: #c5c6cd;
  --color-secondary-fixed-dim: #c0c1ff;
  --color-surface-bright: #f7f9fb;
  --color-on-secondary-container: #fffbff;
  --color-surface-container: #eceef0;
  --color-primary-container-base: #1e293b;
  --color-on-primary-fixed: #111c2d;
  --color-secondary-container-base: #6063ee;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed-dim: #bcc7de;
  --color-primary-fixed: #d8e3fb;
  --color-on-surface-variant: #45474c;
  --color-surface-base: #f7f9fb;
  --color-on-primary-container: #8590a6;
  --color-on-secondary: #ffffff;
  --color-surface-variant: #e0e3e5;
  --color-tertiary: #001815;
  --color-on-error-container: #93000a;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #28a094;
  --color-on-surface: #191c1e;
  --color-on-primary-fixed-variant: #3c475a;
  --color-on-secondary-fixed: #07006c;
  --color-tertiary-fixed: #89f5e7;
  --color-tertiary-fixed-dim: #6bd8cb;
  --color-secondary-fixed: #e1e0ff;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-container-low: #f2f4f6;
  --color-on-tertiary-fixed: #00201d;
  --color-inverse-surface: #2d3133;
  --color-surface-tint: #545f73;
  --color-surface-container-high: #e6e8ea;
  --color-outline: #75777d;
  --color-on-error: #ffffff;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-tertiary-container: #002f2a;
  --color-secondary-base: #4648d4;
  --color-on-tertiary-fixed-variant: #005049;
  --color-on-secondary-fixed-variant: #2f2ebe;
  --color-background-base: #f7f9fb;
  --color-on-background: #191c1e;
}

body {
  background-color: var(--color-background-base);
  color: var(--color-on-background);
  font-family: var(--font-sans);
}
