<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet para llamadas HTTP -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Cámara (tomar fotos) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Android 13+ (API 33) lectura de medios por tipo -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Compatibilidad <= Android 12 (API 32) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- ========== NUEVO: Permisos de ubicación ========== -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ================================================== -->

    <application
        android:label="AppUBA"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <!-- ========== NUEVO: API Key de Google Maps ========== -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAv7ePQtbzerQS_OMNa7P3UtrZPMTxck7g"/>
        <!-- ==================================================== -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>